@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@use 'sass:map';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
}

.card__body {
  background-color: #ecf2f8;
  width: 100%;
  min-height: 100vh;
}

.card__component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 310px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .card__component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
    min-height: 100vh;
  }
}

.card__component-image {
  width: 100%;
  height: 100%;
}

.card__component-image img {
  border-radius: 10px 10px 0 0;
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .card__component-image {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-right: 4rem;
  }
  .card__component-image img {
    border-radius: 10px 0 0 10px;
    min-width: 140%;
  }
}

.card__component-content {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.card__component-content .content {
  padding: 2.5rem 1.5rem 0;
}

.card__component-content .content h1 {
  color: #48556a;
  font-size: 1.3em;
  font-weight: 700;
}

.card__component-content .content p {
  color: #6d7f97;
  font-size: 1.1em;
}

.card__component-content .content h1,
.card__component-content .content p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .card__component-content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    border-radius: 0 10px 10px 0;
  }
  .card__component-content .content {
    padding: 1.05rem 2rem;
  }
  .card__component-content .content h1 {
    font-size: 1.4em;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: .5rem 0 1rem;
}

.about__avtar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

.about__avtar .avtar-img {
  border-radius: 50%;
  margin-right: 15px;
  width: 40px;
}

.about__avtar span p {
  font-size: 0.85em;
  font-weight: 700;
  margin: 0;
}

.about__avtar span small {
  color: #9eafc2;
  font-size: 0.75em;
}

.about__share-icon {
  background-color: #ecf2f8;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 2rem;
  padding: 6px 7px;
  z-index: 9;
}

.about__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
  display: none;
  width: 100%;
  padding: 1.37rem;
  position: absolute;
  top: 0%;
}

.about__social p {
  color: #ecf2f8;
  font-size: .8em;
  margin-right: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.about__social span img {
  cursor: pointer;
  margin: 0 7px;
}

@media (min-width: 768px) {
  .about__social {
    border-radius: 0 0 10px 0;
  }
}

@media (min-width: 1024px) {
  .about__social {
    border-radius: 10px;
    padding: 1.5rem 2rem;
    width: 60%;
    top: -70px;
    right: -70px;
  }
  .about__social::after {
    border-width: 10px;
    border-style: solid;
    border-color: #48556a transparent transparent transparent;
    content: '';
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
  }
}

.about.active .about__share-icon {
  background-color: #6d7f97;
}

.about.active .about__share-icon svg path {
  fill: #ecf2f8;
}

.about.active .about__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */